.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* por si en el futuro pones más cards */
  gap: 20px;
  padding: 40px;
  background: linear-gradient(to right, #f97316, #ea580c);   /* fondo blanco de la vista */
}

.info-card {
  background-color: #fffefe;

  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 30px;
  max-width: 500px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #f1f1f1;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.info-card h1 {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-card h2 {
  color: #555;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.info-card h3 {
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
}
